body {
    background-color:rgb(213, 255, 205);
    height: 300px;
    margin: 0px;
    padding: 0px;}



    .box1{
        height: 300px;
        display: flex;
        background-color:rgb(163, 77, 77);
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;  
        align-items: center; 
        font-size: 4em;
        justify-content: center;
        text-align: center;
        color:pink;
        background-image: url(background.png);
        background-blend-mode:hue;
        border-bottom-right-radius: 50px; 
        border-top-left-radius: 50px;
        background-image: -moz-radial-gradient();
        

    }
    
    .grid-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      .grid-top {
        grid-column: 1;
        grid-row: 1;
      }
      .grid-bottom { 
        grid-column: 1;
        grid-row: 2;
      }

    
    
    
    
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 350px;
        
        
      }
      
      .flex-container > div {
        background-color:red ;
        width: 200px;
        margin: auto;
        text-align: center;
        line-height: 5px;
        
    
        
      }
    .flex-container h1{
        color: black;
        line-height: 2;
    }
    .flex-container p{
        color: black;
        font-size: 16px;
    }
    .flexA {
        border-top: 20px solid blue;
        border-radius: 300px; 
    }
    .flexB {
        border-top: 20px solid orange;
        border-radius: 300px;
    }
    .flexC {
        border-top: 20px solid lightseagreen;
        border-radius: 300px;
    }

    @media only screen and (min-width: 576px){
        .box1{background-color: lightseagreen}
        body{background-color: black}
        .flex-container h1 {color: white;}
        .flex-container p {color: white;}
        .flex-container { flex-direction: row;}
    }



      
  
  


    
  
  
  